/* Colors */

:root {
    --black-color: #000000;
    --darkorange-color: #FF6738;
    --lightorange-color: #FFA938;
    --yellow-color: #ffeb38;
    --skin-color: #FFD59E;
    --darkgrey-color: #b7b7b7;
    --lightgrey-color: #c4c4c4;
    --white-color: #ffffff;
    --backgrnd-color: #e5e5e5;
}


/*Setup Wrap*/

* {
  margin: 0;

}

body {
  font-family: "Montserrat", sans-serif;
}

.wrapper{
    max-width: 1024px;
    margin: 0 auto;
    background:var(--backgrnd-color);
    
}


/*header menu*/

.desktop-nav .logo {
  display: flex;
  justify-content: space-between;
  background-color: var(--skin-color);
}

.desktop-nav .logo h1{

  color: var(--darkorange-color);
  font-family: Francois One;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  padding: 
}


.desktop-nav .logo h2{
  width: 611px;
  height: 48px;
  left: 346px;
  top: 21px;
  color: var(--darkorange-color);
  font-family: Francois One;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 48px;
}

.desktop-nav .menu-items {
  display: flex;
  list-style: none;
  background-color: var(--darkorange-color);

}

.desktop-nav .menu-items li {
  margin: 13px 7px;
}

.desktop-nav .menu-items li a {
  text-decoration: none;
  color: var(--white-color) ;
  font-size: 18px;
  font-weight: bold;
}


/*introduction*/

.Introduction .floatgauche{
float: left;
margin-right: 20px;
clear: both;
}

.Introduction .right{
margin-right: 28px;

}



.Introduction .right h1{
color: var(--lightorange-color);
font-family: Montserrat;
font-style: normal;
font-weight: 900;
font-size: 36px;
line-height: 44px;
}

.Introduction .right p{
   
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 23px;
  text-align: justify;
  
  }
  


/*Histoire*/

.histoire p{
  background-color: var(--skin-color);
}
.container {
    position: relative;
    text-align: center;s
  }

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
    color: var(--darkorange-color) ;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 44px;
  }

  .p-left {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    text-align: justify;
    
      width: 415px;
      float: left;
      margin: 5px;
      padding: 5px;
  }

  .p-right {
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 23px;
text-align: justify;

width: 415px;
float: left;
margin: 5px;
padding: 5px;
clear:right;
  }

  /*Nos Services*/

  .services .tete-gauche {
    font-family: Francois One;
font-style: normal;
font-weight: normal;
font-size: 48px;
text-transform: uppercase;
color: var(--darkorange-color);
   }

.services .description-gauche img{
  float: right;
}

.services .description-gauche h1{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  color: var(--darkorange-color);
}

.services .description-gauche p{
  font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 23px;
text-align: justify;
}

.services .description-droite img{
  float: left;
}

.services .description-droite h1{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  color: var(--darkorange-color);
}

.services .description-droite p{
  font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 23px;
text-align: justify;
}




  /*Nos tarifs*/


  .tarifs .tete-droite {
    font-family: Francois One;
font-style: normal;
font-weight: normal;
font-size: 48px;
color: var(--darkorange-color);
   }

  .tarifs td{
    text-align: center;
  }


  /*Nous Contacter*/

  .contact .tete-gauche {
    font-family: Francois One;
font-style: normal;
font-weight: normal;
font-size: 48px;
text-transform: uppercase;
color: var(--darkorange-color);
   }

   .contact .group {
    color: var(--lightgrey-color)
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
      }
  .bouton {
      background-color: var(--darkorange-color);
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      
    
  }

   /*Footer*/

   .site-footer
{
  background-color:#c4c4c4;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
}

.site-footer h6
{
  color:var(--darkorange-color);
 font-family: Francois One;
font-style: normal;
font-weight: normal;
font-size: 72px;
line-height: 102px;
}

.site-footer p {
  font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;
}
